.joinFormWrap form {
  display: grid;
  gap: 1rem;
}
.joinFormWrap input {
  width: 100%;
}
.profileWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}
.profileWrap input + label {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
