.contentWrap {
  display: flex;
  gap: 1rem;
  height: inherit;
}
.contentWrap .photo {
  margin: 0.8rem 0;
  /* height: 12rem; */
}
.contentWrap .inputWrap {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
}
.contentWrap .inputWrap textarea {
  margin-top: 0.8rem;
  height: -webkit-fill-available;
  flex-grow: 2;
  border: 0;
}
