.main {
  height: 100vh;
  padding: 0 4rem;
}
.logo {
  text-align: center;
  margin-bottom: 2rem;
  font-family: var(--font-hakgyoansim);
  font-size: 3rem;
}
.snsBtnsWrap {
  margin-top: 5rem;
  display: grid;
  gap: 1rem;
  width: 100%;
  border-top: 0.1rem solid #eee;
  padding-top: 2.4rem;
  font-size: 1.4rem;
}
