.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.2rem 1.4rem;
  /* border-bottom: 0.1rem solid var(--color-lightGray); */
  height: 5.2rem;
  position: relative;
}
.between {
  justify-content: space-between;
}
