.tabWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 0.1rem solid var(--color-lightGray);
}
.tabWrap button {
  width: 50%;
  height: 4.2rem;
  border-radius: 0;
}
.tabContent {
  overflow: hidden;
}
.tabRoller {
  display: flex;
  transition: 0.3s;
}
.nav {
  position: sticky;
  top: 0;
  z-index: 998;
  background: #fff;
}
