.main {
  padding: 1.6rem;
  height: calc(100vh - 10.5rem);
  overflow-y: auto;
}
.main::-webkit-scrollbar {
  width: 0;
}
.voteInfoBox {
  margin-bottom: 2rem;
  padding-bottom: 1.6rem;
  border-bottom: 1px solid var(--color-lightGray);
  margin-bottom: 2rem;
}
.voteInfoBox h2 {
  margin-bottom: 0;
}
.voteInfoBox p {
  color: #666;
  font-size: 1.3rem;
  margin-top: 0.2rem;
}
.questionWrap {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.question {
  display: grid;
  gap: 1rem;
  margin-bottom: 3rem;
}
.question h2 {
  margin-bottom: 0.4rem;
}
@media (min-width: 700px) {
  .main {
    height: calc(66.7rem - 10.5rem);
  }
}
