.mailList {
  padding: 1.6rem;
  border-bottom: 0.1rem solid var(--color-lightGray);
  gap: 1rem;
  cursor: pointer;
}
.mailList h3 {
  max-width: 7rem;
}
.mailList p {
  white-space: break-spaces;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.mailList .titleWrap {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  margin-bottom: 0.8rem;
}
