.kakaoBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: #ffeb00;

  width: 100%;
  height: 4.5rem;
  border-radius: 0.4rem;
}
.kakaoBtn p {
  color: #3c1212;
  font-size: 1.4rem;
}
