.form {
  width: 100%;
  margin-top: 2.8rem;
}
.form input {
  width: 100%;
  margin-bottom: 1rem;
}
.authBtnWrap {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 1rem;
  margin-top: 1.6rem;
  width: 100%;
}
.authBtnWrap a {
  font-size: 1.2rem;
}
.authBtnWrap .idSave {
  display: flex;
  align-items: center;
  flex-grow: 2;
  gap: 0.4rem;
  font-size: 1.2rem;
}
