.listWrap {
  min-width: -webkit-fill-available;
  overflow-y: auto;
  height: calc(100vh - 21rem);
}
.listWrap::-webkit-scrollbar {
  width: 0;
}
.notData {
  min-width: 100vw;
  margin-top: 5rem;
  text-align: center;
  color: #666;
}
@media (min-width: 700px) {
  .notData {
    min-width: 35rem;
  }
}
