.listWrap {
  min-width: -webkit-fill-available;
  overflow-y: auto;
  height: calc(100vh - 21rem);
}
.listWrap::-webkit-scrollbar {
  width: 0;
}

@media (min-width: 700px) {
  .listWrap {
    height: calc(66.7rem - 21rem);
  }
}
