.main {
  padding: 1.6rem;
  height: calc(100vh - 10.5rem);
  overflow-y: auto;
}
.main::-webkit-scrollbar {
  width: 0;
}
.sayingBoxWrap h2 {
  margin-bottom: 1rem;
}
.sayingBox {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  padding: 1.2rem;
  border: 0.1rem solid var(--color-gray);
  border-radius: 0.8rem;
}
.sayingBox .authorProfile {
  font-size: 1.2rem;
  color: #666;
}
.musicWrap {
  margin-top: 2rem;
}
.musicBoxWrap {
  display: grid;
  gap: 1rem;
}

@media (min-width: 700px) {
  .main {
    height: calc(66.7rem - 10.5rem);
  }
}
